/******************************************************************************
 * KENOBI - theme.css
 ******************************************************************************/

/******************************************************************************
 * spacer div
 ******************************************************************************/
.m-spacer { 
    clear: both;
	line-height: 0px; 
	background-color:transparent;
} 

/******************************************************************************
 * Box
 ******************************************************************************/
.m-box-box
{
  border-top:    1px solid threedhighlight;
  border-right:    1px solid threedshadow;
  border-bottom:    1px solid threedshadow;
  border-left:    1px solid  threedhighlight;
  background: threedface;
  margin-top: auto;
  margin-bottom: auto;
}

.m-box-outer
{
  border-top:    1px solid threedlightshadow;
  border-right:    1px solid threeddarkshadow;
  border-bottom:    1px solid threeddarkshadow;
  border-left:    1px solid  threedlightshadow;
}

* html .m-box-box
{
   height: 1%;
}

.m-box-title
{
  background: highlight;
  font-weight:      bold;
  color: highlighttext;
  text-decoration:  none;
  height:20px;
  vertical-align:   top;
  margin: 0px 0px 5px 0px;
}

.m-box-title .caption
{
  text-align: left;
  padding-top:2px;
  float: left; 
  width: 80%;
}

.m-box-title .icon
{
  float: left; 
  padding-top:2px;
  padding-left:2px;
  width:20px;
}

.m-box-title .button
{
  float: right; 
  padding-top:2px;
  padding-right: 0px;
  width:20px;
  text-align:right;
}

.m-box-content
{
  background: threedface;
  font: caption;
  padding:          8px;
}

/******************************************************************************
 * Panel
 ******************************************************************************/

/* Tan hack for IE/Win */

* html .m-panel-body
{
   height: 1%;
}

.m-panel-body
{
   padding:          3px;
   background-color: #f7f7f7;
}

.m-panelcontrol-box
{
   margin:          2px 2px 2px 2px;
}

/******************************************************************************
 * promptBox
 ******************************************************************************/

.m-prompt-box
{
  width:       100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:center;
  border:0 none;

}

.m-prompt-box-box
{
  width: 310px;
  margin-left:auto;
  margin-right: auto;
}


.m-prompt-box-button
{
   clear: left;
   text-align: center;
}

.m-prompt-box-button li button
{
    font: caption;
/*
	font-size: 11px; 
	font-weight: normal; 
	background-color: #EDEDED;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
	height: 17px;
*/
	width: 80px;
    margin: 5px;
}

.m-prompt-box-button ul 
{ 
    list-style: none; 
    padding: 0;
    margin: 0;
}

.m-prompt-box-button ul li
{ 
    display: inline;
}

.m-prompt-box-text
{
   float:left;
   text-align: left;
   padding: 5px 5px 5px 40px;
   font-size:        11px;
   font-weight:      bold;
}

.m-prompt-box-text li
{
   background-image: url(/images/bullet.gif);
   background-repeat: no-repeat; 
   background-position: 0 0.5em;
   margin-left: .7em;
    padding-left: 10px;   
}

.m-prompt-box-text ul 
{ 
    list-style: none; 
    padding: 0;
    margin: 0;
}

.m-prompt-box-title
{
  color:            #FFF;
  font-weight:      bold;
  font-size:        12px;
  text-decoration:  none;
  vertical-align:   top;
  height:17px;
  margin: 2px 1px 0px 1px;
}

.m-prompt-box-title .caption
{
  text-align: left;
  padding-top:2px;
  float: left; 
  width: 280px;
}

.m-prompt-box-title .icon
{
  float: left; 
  padding-top:2px;
  padding-left:2px;
  width:20px;
}

.m-prompt-box-title .button
{
  float: right; 
  padding-top:2px;
  padding-right: 2px;
  width:20px;
  text-align:right;
}

.m-prompt-box-title-error
{
  background-color: #990000;
}

.m-prompt-box-error
{
   background-color: threedface;
   width:       100%;
   background-image: url(/images/error.gif);
   background-repeat: no-repeat; 
   background-position: 5px 5px;
}

.m-prompt-box-title-information
{
  background-color: #0000ff;
}

.m-prompt-box-information
{
   background-color: threedface;
   width:100%;
   background-image: url(/images/information.gif);
   background-repeat: no-repeat; 
   background-position: 5px 5px;
}

.m-prompt-box-title-confirmation
{
  background-color: #0000ff;
}

.m-prompt-box-confirmation
{
   background-color: threedface;
   width:100%;
   background-image: url(/images/question.gif);
   background-repeat: no-repeat; 
   background-position: 5px 5px;
}

.m-prompt-box-title-question
{
  background-color: #006633;
}

.m-prompt-box-question
{
   background-color: threedface;
   width:100%;
   background-image: url(/images/question.gif);
   background-repeat: no-repeat; 
   background-position: 5px 5px;
}

