/******************************************************************************
 * Containers
 ******************************************************************************/
 
body
{
	background:    window;
    font: caption;
	margin:        0px;
    padding:       0px;
	color:         #000;
    width:       100%;
    text-align:center;
    border:0 none;
}

h1
{
    font-size: 12px;
    font-weight:   bold;
	color: #000;
	margin: 0px 0px 10px 0px;
}

h2
{
    font-size: 11px;
    font-weight:   bold;
	color: #000;
	margin: 0px 0px 0px 15px;
}

h3
{
    font-size: 11px;
    font-weight:   normal;
	color: #900;
	margin: 0px 0px 0px 35px;
	display:inline;
}

h4
{
    font-size: 10px;
    font-weight:   normal;
	color: #000;
	margin: 0px 0px 0px 45px;
	padding: 0px;
	display:inline;
}

fieldset
{
    font-size: 11px;
    font-weight:   normal;
	margin: 0px;
	padding: 0px;
}

code
{
    font-size: 11px;
    font-weight:   normal;
	padding: 5px;
}

#m-container
{
	width:         750px;
	border: outset;
    background: window;
    margin-left:auto;
    margin-right: auto;
	text-align:left;
}

#m-container-top
{
	margin:        0px;
	padding:       0px;
	height:        45px;
	background: threedface;
	border-bottom:    2px solid #990000;
}

#m-container-top .logo
{
    float:         left;
	width:         65px;
	margin:        0px;
	padding:       0px;
}

#m-container-top .text
{
    float:         right;
	width:         685px;
	margin:        0px;
	padding:       0px;
	text-align:    right;
}

#m-container-top .text h1
{
    font-size:     14px;
    font-weight:   bold;
    color:         #990000;
	margin : 0px;
}	

#m-container-top .text h2
{
    font-size:     12px;
    font-weight:   bold;
    color:         #666;
	margin : 0px;
}	

#m-container-module
{
    padding:       2px;
    font-size:     11px;
    font-weight:   bold;
    text-align:    right;
}


#m-container-module2
{
	padding:       2px;
    font-size:     11px;
    font-weight:   bold;
	text-align:    right;
    border-top:    1px solid threeddarkshadow;   
}

#m-container-topmenu
{
    background: menu;
	border-bottom:    1px solid #eee;
	padding: 0px;
	position: relative; /* posistion deve ser relative */
	z-index: 0; /* z-index deve ser menor que em mainmenuContainer */
}

#m-container-dhtmlmenu /* estilo para o mainmenuContainer -> deve ser criado */
{
/*    float:         left;*/
    padding: 0px;
	top: 0px;
	position: relative; /* position deve ser relative */
	z-index: 1; /* z-index deve ser maior que em contentContainer e contentFullContainer */
    background: menu;
	width: 100%;
	height: 23px;
	border-top:    1px solid threedhighlight;
	border-bottom:    1px solid threeddarkshadow;
	/*
	border-top:    1px solid #FFFFFF;
	border-left:    1px solid #FFFFFF;
	border-bottom:    1px solid #808080;
	border-right:    1px solid #808080;
	*/
}

#m-container-dhtmlmenu2
{
/*    float:         left;*/
    padding: 0px;
    top: 0px;
    position: relative; /* position deve ser relative */
    z-index: 1; /* z-index deve ser maior que em contentContainer e contentFullContainer */
    background: menu;
    /*width: 100%;*/
    height: 23px;
    border-top:    1px solid threedhighlight;
/*    border-bottom:    1px solid threeddarkshadow;
    /*
    border-top:    1px solid #FFFFFF;
    border-left:    1px solid #FFFFFF;
    border-bottom:    1px solid #808080;
    border-right:    1px solid #808080;
    */
}

#m-container-menu
{
    float:         left;
    background: menu;
	width:		   150px;
	padding: 0px;
}

#m-container-content
{
    float:         left;
	width:         580px;
	height:        auto;
	text-align:    left;
    margin-left:   8px;
    margin-right:  8px;
    margin-top:    8px;
    margin-bottom: 8px;
	position: relative; /* posistion deve ser relative */
	z-index: 0; /* z-index deve ser menor que em mainmenuContainer */
	font: caption;
	font-weight: normal;
	background: window;
}

#m-container-content-full
{
	width:         734px;
	height:        auto;
	text-align:    left;
    margin-left:   8px;
    margin-right:  8px;
    margin-top:    8px;
    margin-bottom: 8px;
	position: relative; /* posistion deve ser relative */
	z-index: 0; /* z-index deve ser menor que em mainmenuContainer */
	font: caption;
	font-weight: normal;
	background: window;
}

#m-container-bottom
{
    font: status-bar;
    clear:         both;
	text-align:    center;
}




/******************************************************************************
 * ???
 ******************************************************************************/

.currentPageNumber
{
  color:            #ff0000;
  font-weight:      bold;
}

div.statistics
{
  position: absolute;
  width: 500px;
  left: 10px;
  overflow:scroll;
  height:200px;
}

div.statistics .image
{
  text-align: right;
}

div.statistics .text
{
  background-color: #f7f7f7;

  border-top:       solid #555555 1pt;
  border-bottom:    solid #ffffff 1pt;
  border-left:      solid #555555 1pt;
  border-right:     solid #ffffff 1pt;
  
  vertical-align:   top;
  
  font-size:        10px;
  font-style:       normal;
  font-weight:      normal;  
  color:            #000055;
  padding:          4pt;  
}