/******************************************************************************
 * KENOBI - theme.css
 ******************************************************************************/

/******************************************************************************
 * form
 ******************************************************************************/

.m-form-box
{
  width:       100%;
  text-align:center;
  border:0 none;
}

.m-form-outer
{
  margin-left:auto;
  margin-right: auto;
}

.m-form-title
{
  background-color: #c0c0c0;
  color:            #000000;
  font-weight:      bold;
  font-size:        11px;
  padding:          2px;
  text-decoration:  none;
}

.m-form-body
{
   font: caption;
   text-align:left;
   padding-left: 3px;
   background-color: threedface;
}

.m-form-css
{
   font: caption;
   text-align:left;
   padding-left: 3px;
   background-color: threedface;
}

.m-form-row
{
   clear: both;
   padding-top: 3px;
   width: 100%;
}

.m-form-row-0
{
   clear: both;
   padding-top: 3px;
   width: 100%;
}

.m-form-row-1
{
   clear: both;
   padding-top: 3px;
   width: 100%;
}

.m-form-row span.horizontal
{
  float: left;
  padding-right: 5px; 
}

.m-form-row span.label 
{
  float: left;
  padding-right: 5px; 
  width: 10%;
}

.m-form-row span.field 
{
  float: right;
  width: 85%;
}

.m-form-field-box
{
   padding:          2px;
}

.m-form-button-box
{
   padding:          3px;
   clear: left;
}

.m-form-button-box li .hr
{
    margin: 5px 0px 5px 0px;   
}

.m-form-button-box li button
{
    margin: 2px 10px 2px 0px;   
}

.m-form-button-box ul 
{ 
    list-style: none; 
    padding: 0;
    margin: 0;
}

.m-form-button-box ul li
{ 
    display: inline;
}

.m-caption-required:after
{
    content:'*';
    color: red;
}

.m-caption-required
{
    color: red;
}
