<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?> 
<conf>
    <home>
       <miolo>/usr/local/miolo2</miolo>
       <classes>/usr/local/miolo2/classes</classes>
       <modules>/usr/local/miolo2/modules</modules>
       <etc>/usr/local/miolo2/etc</etc>
       <logs>/usr/local/miolo2/var/log</logs>
       <trace>/usr/local/miolo2/var/trace</trace>
       <db>/usr/local/miolo2/var/db</db>
       <html>/usr/local/miolo2/html</html>
       <themes>/usr/local/miolo2/classes/ui/themes</themes>
       <extensions>/usr/local/miolo2/extensions</extensions>
       <reports>/usr/local/miolo2/var/reports</reports>
       <images>/usr/local/miolo2/ui/images</images>
       <url>http://miolo2.localhost</url>
       <url_themes>/themes</url_themes>
       <url_reports>/reports</url_reports>
       <module.themes>/ui/themes</module.themes>
       <module.html>/html</module.html>
       <module.images>/html/images</module.images>
       <java></java>
    </home>
    <i18n>
        <language>pt_BR</language>
        <locale>/usr/local/miolo2/locale</locale>
    </i18n>
    <namespace>
       <core>/classes</core>
       <service>/classes/services</service>
       <ui>/classes/ui</ui>
       <themes>/ui/themes</themes>
       <extensions>/classes/extensions</extensions>
       <controls>/ui/controls</controls>
       <database>/classes/database</database>
       <utils>/classes/utils</utils>
       <modules>/modules</modules>
    </namespace>
    <menu>
       <tutorial>Tutorial</tutorial>
    </menu>
    <theme>
       <module></module>
       <main>miolo2</main>
       <lookup>miolo2</lookup>
       <title>Miolo Web Application</title>
       <company>MIOLO FRAMEWORK</company>
       <system>version 2.0 - rc1</system>
       <logo>logo_miolo.png</logo>
       <email>admin@miolo2.localhost</email>
       <options>
          <close>true</close>
          <minimize>true</minimize>
          <help>true</help>
          <move>true</move>
       </options>
    </theme>
    <session>
       <handler>file</handler>
       <timeout>300</timeout>
    </session>
    <options>
       <startup>common</startup>
       <common>common</common>
       <scramble>0</scramble>
       <scramble.password>password</scramble.password>
       <dispatch>index.php</dispatch>
       <url.style>0</url.style>
       <index>index.php</index>
       <mainmenu>3</mainmenu>
       <!-- mainmenu.style>office</mainmenu.style -->
       <mainmenu.style>office2003</mainmenu.style>
       <!-- mainmenu.style>panel</mainmenu.style -->
       <!-- mainmenu.style>gray</mainmenu.style -->
       <backtrace>false</backtrace>
       <mainmenu.clickopen>true</mainmenu.clickopen>
       <dbsession>0</dbsession>
       <authmd5>0</authmd5>
       <debug>1</debug>
       <dump>
           <peer>127.0.0.1</peer>
           <profile>false</profile>
           <uses>false</uses>
           <trace>false</trace>
           <handlers>false</handlers>
       </dump>
       <loading>
           <show>true</show>
           <generating>false</generating>
       </loading>
       <performance>
           <uri_images>false</uri_images>
           <enable_ajax>false</enable_ajax>
       </performance>
       <autocomplete_alert>false</autocomplete_alert>
    </options>
    <mad>
        <module>admin</module>
        <classes>
            <access>access</access>
            <group>group</group>
            <log>log</log>
            <session>session</session>
            <transaction>transaction</transaction>
            <user>user</user>
        </classes>
    </mad>
    <logs>
        <level>2</level>
        <handler>socket</handler>
        <peer>0</peer>
    <port>0</port>
    </logs>
    <db>
       <miolo>
           <system>sqlite</system>
           <host>localhost</host>
           <name>/usr/local/miolo2/var/db/miolo.sqlite</name>
           <user>miolo</user>
           <password>REDACTED</password>
       </miolo>
       <admin>
           <system>sqlite</system>
           <host>localhost</host>
           <name>/usr/local/miolo2/modules/admin/sql/admin.sqlite</name>
           <user>miolo</user>
           <password>REDACTED</password>
       </admin>
    </db>
    <login>
        <module>admin</module>
        <class>MAuthDb</class>
        <check>false</check>
        <shared>true</shared>
        <auto>1</auto>
        <dbuser>false</dbuser>
    </login>
</conf>
