<?xml version="1.0" encoding="UTF-8"?>
<conf>
  <home>
    <miolo>/var/www/miolo</miolo>
    <classes>/var/www/miolo/classes</classes>
    <modules>/var/www/miolo/modules</modules>
    <etc>/var/www/miolo/etc</etc>
    <logs>/var/www/miolo/var/log</logs>
    <trace>/var/www/miolo/var/trace</trace>
    <db>/var/www/miolo/var/db</db>
    <html>/var/www/miolo/html</html>
    <themes>/var/www/miolo/html/themes</themes>
    <extensions>/var/www/miolo/classes/extensions</extensions>
    <reports>/var/www/miolo/var/reports</reports>
    <images>/var/www/miolo/ui/images</images>
    <url>http://miolo.localhost</url>
    <url_themes>/themes</url_themes>
    <url_reports>/reports</url_reports>
    <module.themes>/ui/themes</module.themes>
    <module.html>/html</module.html>
    <module.images>/html/images</module.images>
    <java>/home/java</java>
  </home>
  <namespace>
    <core>/classes</core>
    <service>/classes/services</service>
    <ui>/classes/ui</ui>
    <themes>/html/themes</themes>
    <extensions>/classes/extensions</extensions>
    <controls>/ui/controls</controls>
    <database>/classes/database</database>
    <utils>/classes/utils</utils>
    <modules>/modules</modules>
    <business>/db</business>
  </namespace>
  <theme>
    <main>modern</main>
    <lookup>modern</lookup>
    <title>Miolo Web Application</title>
    <company>MIOLO FRAMEWORK</company>
    <system>version 2.0 - rc1</system>
    <logo>logo_miolo.png</logo>
    <email>admin@miolo2.localhost</email>
    <options>
      <close>true</close>
    </options>
  </theme>
  <options>
    <startup>common</startup>
    <common>common</common>
    <scramble>0</scramble>
    <scramble.password>password</scramble.password>
    <dispatch>index.php</dispatch>
    <url.style>0</url.style>
    <index>index.php</index>
    <mainmenu>3</mainmenu>
    <mainmenu.style>office2003</mainmenu.style>
    <mainmenu.clickopen>true</mainmenu.clickopen>
    <dbsession>0</dbsession>
    <authmd5>0</authmd5>
    <debug>0</debug>
    <charset>UTF-8</charset>
    <fileextension>25</fileextension>
    <dump>
      <peer>127.0.0.1</peer>
      <profile>false</profile>
      <uses>false</uses>
      <trace>false</trace>
      <handlers>false</handlers>
    </dump>
    <loading>
      <show>true</show>
      <generating>true</generating>
    </loading>
  </options>
  <i18n>
    <locale>/var/www/miolo/locale/</locale>
    <language>pt_BR</language>
  </i18n>
  <mad>
    <module>admin</module>
    <classes>
      <access>access</access>
      <group>group</group>
      <log>log</log>
      <session>session</session>
      <transaction>transaction</transaction>
      <user>user</user>
    </classes>
  </mad>
  <login>
    <module>admin</module>
    <class>MAuthDb</class>
    <check>false</check>
    <shared>true</shared>
    <auto>1</auto>
  </login>
  <session>
    <handler>file</handler>
    <timeout>300</timeout>
    <shared>true</shared>
  </session>
  <db>
    <miolo>
      <system>sqlite</system>
      <host>localhost</host>
      <name>/var/www/miolo/var/db/miolo.sqlite</name>
      <user>admin</user>
      <password>admin</password>
    </miolo>
    <dummy>
      <system>mysql</system>
      <host>localhost</host>
      <name>dummy</name>
      <user>root</user>
      <password></password>
      <jdbc_driver>com.mysql.jdbc.Driver</jdbc_driver>
      <jdbc_db>jdbc:mysql://localhost/dummy</jdbc_db>
    </dummy>
  </db>
  <logs>
      <level>2</level>
      <handler>socket</handler>
      <peer>127.0.0.1</peer>
	  <port>0</port>
  </logs>
</conf>
