/******************************************************************************
 * Containers
 ******************************************************************************/
body
{
 background: window;
 font: caption;
 margin: 0;
 padding: 0;
 color: #000;
 width: 100%;
 height:100%;
 text-align: center;
 border: 0 none;
}

h1
{
 font-size: 12px;
 font-weight: bold;
 color: #000;
 margin: 0 0 10 0;
}

h2
{
 font-size: 11px;
 font-weight: bold;
 color: #000;
 margin: 0 0 0 15px;
}

h3
{
 font-size: 11px;
 font-weight: normal;
 color: #900;
 margin: 0 0 0 35px;
 display: inline;
}

h4
{
 font-size: 10px;
 font-weight: normal;
 color: #000;
 margin: 0 0 0 45px;
 padding: 0;
 display: inline;
}

fieldset
{
 font-size: 11px;
 font-weight: normal;
 margin: 0;
 padding: 0;
}

code
{
 font-size: 11px;
 font-weight: normal;
 padding: 5px;
}

#m-container
{
 width: 750px;
 border-style: outset;
 border-width: 1px;
 background: window;
 margin-left: auto;
 margin-right: auto;
 text-align: left;
}

#m-container-top
{
 margin: 0;
 padding: 0;
 height: 23px;
 background: highlight;
}

#m-container-top .logo
{
 float: left;
 width: 65px;
 margin: 0;
 padding: 0 0 0 2px;
}

#m-container-top .text
{
 float: right;
 width: 680px;
 margin: 0;
 padding: 0 3px 0 0;
 text-align: right;
}

#m-container-top .text h1
{
 font-size: 14px;
 font-weight: bold;
 color: #900;
 margin: 0;
} 

#m-container-top .text h2
{
 font-size: 12px;
 font-weight: bold;
 color: #666;
 margin: 0;
} 

#m-container-module
{
 padding: 2px;
 font-size: 11px;
 font-weight: bold;
 text-align: right;
}

#m-container-topmenu
{
 background: menu;
 border-bottom: 1px solid #EEE;
 padding: 0;
 position: relative; /* posistion deve ser relative */
 z-index: 0; /* z-index deve ser menor que em mainmenuContainer */
}

#m-container-dhtmlmenu /* estilo para o mainmenuContainer -> deve ser criado */
{
 padding: 0;
 top: 0;
 position: relative; /* position deve ser relative */
 z-index: 1; /* z-index deve ser maior que em contentContainer e contentFullContainer */
 background: menu;
 width: 749px;
 height: 21px;
 border-top: 1px solid threedhighlight;
 border-bottom: 1px solid threeddarkshadow;
 border-left: 1px solid threedhighlight;
}

#m-container-menu
{
 float: left;
 background: menu;
 width: 150px;
 padding: 0;
}

#m-container-content
{
 float: left;
 width: 580px;
 height: auto;
 text-align: left;
 margin: 8px; 
 position: relative; /* posistion deve ser relative */
 z-index: 0; /* z-index deve ser menor que em mainmenuContainer */
 font: caption;
 font-weight: normal;
 background: window;
}

#m-container-content-full
{
 width: 734px;
 height: auto;
 text-align: left;
 margin: 8px; 
 position: relative; /* posistion deve ser relative */
 z-index: 0; /* z-index deve ser menor que em mainmenuContainer */
 font: caption;
 font-weight: normal;
 background: window;
}

#m-container-content-popup
{
 height: auto;
 text-align: left;
 position: relative; /* posistion deve ser relative */
 z-index: 0; /* z-index deve ser menor que em mainmenuContainer */
 font: caption;
 font-weight: normal;
 background: window;
}

#m-container-bottom
{
 font: status-bar;
 clear: both;
 text-align: center;
}

.m_popup
{
 overflow: hidden;
 border-style: none;
 border: 0;
}

.m-dialog
{
 position: absolute;
 border-style: none;
 border: 0;
 padding-top: 15px;
 z-index: 202;
 background-color: red;
}

.m-dialog-iframe
{
	margin: 0px;
	position: absolute;
	z-index: 199;
	background-color:transparent;
	border: 0px;
	padding: 0px;
	overflow: hidden;
}


#m-dialog-modal {
 position: absolute;
 z-index: 200;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 opacity: .2;
 filter: alpha(opacity=20);
 /* this hack is so it works in IE
 * I find setting the color in the css gives me more flexibility 
 * than the PNG solution.
 */
 background-color: transparent !important;
 background-color: #FFF;
 /* this hack is for opera support
 * you can uncomment the background-image if you don't care about opera.
 * this gives you the flexibility to use any bg color that you want, instead of the png
 */
 background-image/**/: url("images/maskBGwhite.png") !important; // For browsers Moz, Opera, etc.
 background-image: none;
 background-repeat: repeat;
 display: none;
}

/******************************************************************************
 * ???
 ******************************************************************************/

.currentPageNumber
{
 color: #f00;
 font-weight: bold;
}

div.statistics
{
 position: absolute;
 width: 500px;
 left: 10px;
 overflow: scroll;
 height: 200px;
}

div.statistics .image
{
 text-align: right;
}

div.statistics .text
{
 background-color: #f7f7f7;
 border-top: solid #555 1pt;
 border-bottom: solid #fff 1pt;
 border-left: solid #555 1pt;
 border-right: solid #fff 1pt;
 vertical-align: top;
 font-size: 10px;
 font-style: normal;
 font-weight: normal; 
 color: #005;
 padding: 4pt; 
}