
.m-hr { 
 width: 99%; 
 height: 0; 
 border-top: 1px solid threeddarkshadow; 
 border-bottom: 1px solid threedhighlight; 
 line-height: 0; 
 font-size: 0; 
 margin: 0;
} 

.m-separator { 
 width: 95%;
 font-size: 11px;
 padding: 2px;
 margin: 0 0 2px 0;
 font-weight: normal;
} 

#m-htmlarea { 
 margin: 15px;
 width: 90%; 
} 

/* Tan hack for IE/Win */

* html .m-container-controls
{
 height: 1%;
}

.m-container-controls
{
 overflow: hidden;
}

.m-hint
{
 background: infobackground;
 font: message-box;
 font-size: 9px;
 border: solid #c0c0c0 1px;
 color: infotext;
 padding-left: 2px;
 padding-right: 2px;
 vertical-align: baseline;
}

.m-readonly
{
 font: caption;
 font-weight: bold;
 color: black;
 background-color: threedface;
}

.formBaseLabel
{
 height: 15px;
}

.m-label
{
 font: message-box;
}

.m-caption
{
 font: message-box;
 padding-left: 3px;
}

.m-label-text
{
 font: message-box;
 font-weight: bold;
}

.m-text
{
 font: message-box;
}

.m-text-field
{
 font: message-box;
}

.m-button { 
 font: message-box;
}

.m-button-image { 
 font: message-box;
 background-repeat: no-repeat; 
 background-color: threedface;
 margin-top: 0px;
 border-bottom: 1px solid threedshadow;
 border-right: 1px solid threedshadow;
 border-left: 1px solid threedhighlight;
 border-top: 1px solid threedhighlight;
 width: 18px;
 height: 18px;
/* text-align: middle;*/
 vertical-align: top;
 padding: 0;
}

.m-button-find { 
 font: message-box;
 background-image: url(/images/button_select.png);
 background-repeat: no-repeat; 
 background-color: threedface;
 margin-top: 1px;
 border-bottom: 1px solid threedshadow;
 border-right: 1px solid threedshadow;
 border-left: 1px solid threedhighlight;
 border-top: 1px solid threedhighlight;
 width: 17px;
 height: 17px;
 text-align: middle;
 vertical-align: top;
}

.m-button-close-up { 
 font: message-box;
 background-image: url(/images/button_close_up.gif);
 background-repeat: no-repeat; 
 width: 17px;
 height: 17px;
 text-align: middle;
 vertical-align: top;
}

.m-button-close-down { 
 font: message-box;
 background-image: url(/images/button_close_down.gif);
 background-repeat: no-repeat; 
 width: 17px;
 height: 17px;
 text-align: middle;
 vertical-align: top;
}

.m-multiline-field { 
 font: message-box;
 font-weight: normal;
 vertical-align: top;
}

.m-combo { 
 font: message-box;
 font-weight: normal;
}

.m-radiobutton-group { 
 font: message-box;
 font-weight: normal;
 margin-top: 1px;
 margin-bottom: 1px;
 vertical-align: 20%;
}

.m-checkbox-group { 
 font: message-box;
 font-weight: normal;
 margin-top: 2px;
 margin-bottom: 1px;
 vertical-align: 20%;
}

.m-scrollable-label
{
 font: message-box;
 font-weight: normal;
}

.m-scrollable-field
{
 background-color: #EDEDED; 
 border: solid #c0c0c0 1px;
 overflow: auto;
}


.m-multitext-field
{
} 

.m-multitext-field .select
{ 
 font: message-box;
 font-weight: normal;
 width: 180px; 
}

.m-multitext-field .label
{
 font: message-box;
 font-weight: normal;
 margin-top: 1px;
 margin-bottom: 1px;
 vertical-align: top;
}

.m-multitext-field .textfield 
{ 
 font: message-box;
 font-weight: normal;
}

.m-multitext-field .combo
{ 
 font: message-box;
 font-weight: normal;
}

.m-multitext-field .button { 
 font: message-box;
 font-weight: normal;
 margin: 0 5px 5px 0;
 width: 70px;
 text-align: center;
 vertical-align: top;
}

.m-multitext-field .buttonPosH
{ 
 float: left;
 margin-left: 5px;
}

.m-multitext-field .fieldPosH
{ 
 float: left;
 width: 200px;
}

.m-multitext-field .selectPosH
{ 
 float: left;
}

.m-multitext-field .selection
{ 
 float: left;
 width: 280px;
}

.m-multitext-field div fieldset
{ 
 padding: 5px;
}

.m-filecontent
{
 font: message-box;
 font-weight: bold;
 text-align: left;
}

/******************************************************************************
 * TableRaw
 ******************************************************************************/

.m-tableraw
{
 background-color: #FFF;
 font: message-box;
 padding: 4px;
}

.m-tableraw-title
{ 
 background-color: #FFF;
 color: #359;
 font-weight: bold;
 font-size: 12px;
 text-align: center;
}

.m-tableraw-column-title
{ 
 background-color: #FFF;
 font-weight: bold;
 color: #000;
 font-size: 11px;
 text-align: left;
}

.m-tableraw-row
{
 background-color: #FFF;
 font: message-box;
 color: #000;
 font-weight: normal;
 font-size: 11px;
 text-decoration: none
}

.m-tableraw-row-0
{
 background-color: #FFF;
 font: message-box;
 color: #000;
 font-weight: normal;
 font-size: 11px;
 text-decoration: none
}

.m-tableraw-row-1
{
 background-color: #DDD;
 font: message-box;
 color: #000;
 font-weight: normal;
 font-size: 11px;
 text-decoration: none
}

.m-tableraw-cell
{
}

/******************************************************************************
 * pageNavigator
 ******************************************************************************/

.m-pagenavigator
{
 padding: 2px;
 height: 17px;
 overflow: hidden;
}
 
.m-pagenavigator-text
{ 
 font: message-box;
 vertical-align: top;
}
 
.m-pagenavigator-range
{ 
 font: message-box;
 vertical-align: middle;
 display: block;
}

.m-pagenavigator-image
{
 border: 0;
 width: 17px; 
 display: block;
 vertical-align: middle;
}

.m-pagenavigator-selected
{ 
 font: message-box;
 color: #900;
 font-weight: bold;
 font-size: 11px;
 text-decoration: none;
 margin-left: 5px;
 vertical-align: top;
}

.m-pagenavigator-link
{ 
 font: message-box;
 color: #000;
 font-weight: normal;
 font-size: 11px;
 text-decoration: underline;
 vertical-align: middle;
 margin-left: 5px;
 vertical-align: top;
}
 
.m-pagenavigator-link: link, .m-pagenavigator-link: visited
{ color: #000;
 font-weight: normal;
 text-decoration: underline;
}

.m-pagenavigator-link: active, .m-pagenavigator-link: hover
{
 color: #900;
 font-weight: normal;
 text-decoration: underline;
}

/******************************************************************************
 * Hyperlink
 ******************************************************************************/

.m-link
{ 
 font: message-box;
 font-weight: bold;
 font-size: 11px;
 text-decoration: underline;
}

.m-link:link
{ 
 color: #000;
 font-weight: bold;
 text-decoration: underline;
}

.m-link:visited
{
 color: #000;
 font-weight: bold;
 text-decoration: underline;
}

.m-link:hover
{
 color: #900;
 font-weight: bold;
 text-decoration: underline;
}

.m-link:active
{
 color: #900;
 font-weight: bold;
 text-decoration: underline;
}

.m-link-normal
{ 
 font: message-box;
 font-weight: normal;
 font-size: 11px;
 text-decoration: underline;
}

.m-link-normal:link
{ 
 color: #000;
 font-weight: normal;
 text-decoration: underline;
}

.m-link-normal:visited
{
 color: #000;
 font-weight: normal;
 text-decoration: underline;
}

.m-link-normal:hover
{
 color: #900;
 font-weight: normal;
 text-decoration: underline;
}

.m-link-normal:active
{
 color: #900;
 font-weight: normal;
 text-decoration: underline;
}

/******************************************************************************
 * Images
 ******************************************************************************/
.m-image-centered
{
 font: message-box;
 text-align: center;
 margin-top: 0;
 margin-bottom: 0;
 padding: 0;
}

.m-image-icon
{
 vertical-align: middle;
 margin: 2px;
 padding: 0;
 width: 16px;
 height: 16px;
 border: none;
}

.m-image-link
{ 
 text-decoration: none;
}

.m-image-label
{
 text-align: center;
 margin: 3px 3px 3px 3px;
 display: block;
}

.m-image-link-label
{ 
 color: black;
 font-weight: normal;
 text-decoration: none;
}

.m-image-link-label:link
{ 
 color: black;
 text-decoration: none;
}

.m-image-link-label:visited
{
 color: black;
 text-decoration: none;
}

.m-image-link-label:hover
{
 color: #900;
 text-decoration: none;
}

.m-image-link-label:active
{
 color: #900;
 text-decoration: none;
}

/******************************************************************************
 * LiveLookup
 ******************************************************************************/
.m-livelookup-container
{
   border: 1px solid blue;
   padding-top: 5px;
   overflow: hidden;
}

/******************************************************************************
 * TextTable
 ******************************************************************************/

.m-texttable
{
 border-bottom: 1px solid threedshadow;
 border-top: 1px solid threedshadow;
 border-left: 1px solid threedshadow;
 border-right: 1px solid threedhighlight;
}

.m-texttable .head
{
}

.m-texttable .head tr
{
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height:15px;
}

.m-texttable .head tr th span.colTitle
{
  background-color: threedface;
  border-top: 1px solid threedhighlight;
  border-right: 1px solid threedshadow;
  border-left: 1px solid threedhighlight;
  border-bottom: 1px solid threedshadow;
  font-weight:normal;
  padding-left:3px;
  padding-right:3px;
  display:block;
  overflow:hidden;
}

.m-texttable tr th
{
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  height:15px;
  padding:0px;
} 

.m-texttable tr th.select
{
  border-left: 1px solid black;
  width: 10px;
} 

.m-texttable tr th.select .link-select
{
  background-color: threedface;
  border-top: 1px solid threedhighlight;
  border-left: 1px solid threedhighlight;
  border-right: 1px solid threedshadow;
  border-bottom: 1px solid threedshadow;
  height:15px;
  width:10px;
 text-decoration: none;
 }

.m-texttable .scroll
{
 background-color: white; 
 overflow: auto;
 overflow-x: hidden;
 font-weight: normal;
}

.m-texttable .scroll .row0
{
 background-color: #FFF;
 color: black;
 cursor:default;
}

.m-texttable .scroll .row1
{
 background-color: #DDD;
 color: black;
 cursor:default;
}

.m-texttable .scroll .hover
{
 background-color: highlight;
 color: highlighttext;
 cursor:default;
}

.m-texttable .scroll table tr
{
  height: 15px;
  background-color: black;
}

.m-texttable .scroll table tr td
{
  padding-left: 3px;
}

.m-texttable .scroll table tr td.select
{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height:15px;
  width: 10px;
  padding:0px;
} 

.m-texttable .scroll table tr td.select .link-select
{
  background-color: threedface;
  border-top: 1px solid threedhighlight;
  border-left: 1px solid threedhighlight;
  border-right: 1px solid threedshadow;
  border-bottom: 1px solid threedshadow;
  height:15px;
  width:10px;
 text-decoration: none;
 }

/******************************************************************************
 * Accordion
 ******************************************************************************/

.m-accordion-tabTitleBar 
{ 
  font-size : 12px; 
  padding : 4px 6px 4px 6px; 
  border-style : solid none solid none; 
  border-top-color : #BBB; 
  border-bottom-color : #CCC; 
  border-width : 1px 0px 1px 0px; 
  background-color : #DDD;
  color:black;
}
.m-accordion-tabTitleBarHover 
{ 
  font-size : 11px; 
  background-color : #DDD; 
  color : #000000; 
} 
.m-accordion-tabContentBox 
{ 
  font-size : 11px; 
  border : 1px solid #BBB; 
  border-top-width : 0px; 
  padding : 0px 8px 0px 8px; 
} 


/* &&& .m-accordion-options
  expandedBg          : '#cccccc';
  hoverBg             : '#cccccc';
  collapsedBg         : '#dddddd';
  expandedTextColor   : 'black';
  expandedFontWeight  : 'bold';
  hoverTextColor      : 'black';
  collapsedTextColor  : 'black';
  collapsedFontWeight : 'normal';
  hoverTextColor      : 'black';
  borderColor         : '#bbb';
&&& */
