/******************************************************************************
 * Icons
 ******************************************************************************/
.icon-edit-on
{
 background-image: url(index.php/miolo/themes/system/images/button_edit.png);
}

.icon-edit-off
{
 background-image: url(index.php/miolo/themes/system/images/button_noedit.png);
}

.icon-delete-on
{
 background-image: url(index.php/miolo/themes/system/images/button_drop.png);
}

.icon-delete-off
{
 background-image: url(index.php/miolo/themes/system/images/button_noempty.png);
}

.icon-select-on
{
 background-image: url(index.php/miolo/themes/system/images/button_select.png);
}

.icon-detail-on
{
 background-image: url(index.php/miolo/themes/system/images/plus.gif);
}

.icon-detail-off
{
 background-image: url(index.php/miolo/themes/system/images/minus.gif);
}
