/******************************************************************************
 * livegrid
 ******************************************************************************/
.m-livegrid { 
 font: message-box;
 overflow: hidden;
}

.m-livegrid-header { 
   table-layout : fixed;
}

.m-livegrid-data { 
   table-layout : fixed;
}

.m-livegrid-cellheader { 
   padding          : 2px 0px 2px 3px;
   text-align       : left;
   font-size        : 11px;
    border-bottom: 1px solid threedshadow;
 border-right: 1px solid threedshadow;
 border-left: 1px solid threedhighlight;
 border-top: 1px solid threedhighlight;

   background-color : threedface;
}

.m-livegrid-cellfirst { 
   border-left  : 1px solid #b8b8b8;
}

.m-livegrid-celldata { 
    padding       : 0px 0px 0px 3px;
    margin        : 0px;
   background-color : window;
    border-bottom: 1px solid threedlightshadow;
 border-right: 1px solid threedlightshadow;
 border-left: 1px solid threedhighlight;
 border-top: 1px solid threedhighlight;
    height        : 16px;
    overflow      : hidden;
    font-size     : 11px;
    font-family: verdana, arial, helvetica, sans-serif;
}
