/******************************************************************************
 * ThemeElements
 ******************************************************************************/
/******************************************************************************
 * topMenu
 ******************************************************************************/
.m-topmenu-box
{
 background: window;
 font: menu;
 padding: 2px;
 margin: 0px;
 color: #900;
 text-align: left;
}

.m-topmenu-box li
{
 padding-left: 5px; 
}

.m-topmenu-box ul 
{ 
 list-style: none; 
 padding: 0px;
 margin: 0px;
}

.m-topmenu-box ul li
{ 
 display: inline;
}

.m-topmenu-current
{
 background: window;
 padding: 2px;
 font: caption;
 font-weight: bold;
 color: #900;
}

.m-topmenu-link
{ 
 text-decoration: none; 
 color: #900;
}
 
.m-topmenu-link:link, .m-topmenu-link:visited
{ 
 color: #900;
}

.m-topmenu-link:active, .m-topmenu-link:hover
{
 color: #900;
 text-decoration: underline;
}

/******************************************************************************
 * Menu e submenu
 ******************************************************************************/

.m-menu-box
{
 margin: 0px;
 padding: 3px 0px 3px 0px;
 background-color: #eee;
 width: 100%;
 font: menu;
}

.m-menu-box li a.m-menu-link
{
 padding-left: 14px;
 background-image: url(/images/bullet.gif);
 background-repeat: no-repeat; 
 background-position: .5em .5em;
 text-decoration: none;
}

.m-menu-box li div.m-menu-title
{ 
 font-weight: bold;
 font-size: 11px;
 text-align: center; 
 background-color: #D0D0D0;
 padding: 2px; 
 border-top: 2px solid #999;
}

.m-menu-box li div.hr
{ 
 background-color: #999;
}

.m-menu-box ul li 
{ 
 width: 100%;
 margin: 1px 0px 1px 0px;
}

.m-menu-box ul 
{ 
 list-style: none; 
 padding: 0;
 margin: 0;
}

.m-menu-box li a.m-menu-link:link
{ 
 color: #000000;
 text-decoration: none
}

.m-menu-box li a.m-menu-link:visited
{
 text-decoration: none
}

.m-menu-box li a.m-menu-link:hover
{
 text-decoration: underline
}

.m-menu-box li a.m-menu-link:active
{
 text-decoration: underline
}

.m-submenu-box
{
 margin-left: 15px;
 padding: 0px;
 background-color: #EEE;
}

.m-submenu-box li a.m-menu-link
{
 padding-left: 10px; 
 background-image: url(/images/seta.jpg);
 background-repeat: no-repeat; 
 background-position: 0 .3em;
}

.m-submenu-box ul 
{ 
 list-style: none; 
 padding: 0;
 margin: 0;
}

.m-submenu-title
{ 
 color: #000000;
 font-weight: bold;
 font-size: 9px;
 text-decoration: none;
 text-align: center; 
 background-color: #CCC;
 vertical-align: top;
}

.m-submenu-text
{ 
 text-decoration: none
 margin-left: 16px; 
}

/******************************************************************************
 * statusBar
 ******************************************************************************/

.m-statusbar
{
 background: threedface;
 width: 750px;
 margin-top: 10px;
 border-top: 1px solid threedshadow;
 border-bottom: 1px solid threedshadow;
}

.m-statusbar li
{
 background: threedface;
 text-align: center;
 border-bottom: 1px solid threedhighlight;
 border-left: 1px solid threedshadow;
 border-top: 1px solid threedshadow;
 border-right: 1px solid threedhighlight;
 margin: 3px 1px 3px 1px;
 padding: 0px 6px 2px 6px;
}

.m-statusbar ul 
{ 
 list-style: none; 
 padding: 1px;
 margin-top: 2px;
 margin-left: 2px;
 margin-bottom: 4px;
 text-align: center;
}

.m-statusbar ul li
{ 
 display: inline;
}

/******************************************************************************
 * moduleHeader
 ******************************************************************************/

.m-module-header
{
 color: #000000;
 font-weight: bold;
 font-size: 11px;
 text-decoration: none;
}
/******************************************************************************
 * contentHeader
 ******************************************************************************/

.m-content-header
{
 background-color: #FFFFFF;
 color: #000000;
 font-weight: bold;
 font-size: 13px;
 margin: 2px 0px 5px 0px;
 text-decoration: none;
}
/******************************************************************************
 * Theme
 ******************************************************************************/

.m-theme-body
{
 font-size: 12px;
 margin: 0px;
 padding: 0px;
}

.themePage
{
}

.m-theme-content
{
 font-size: 11px;
 color: #000000;
 font-weight: normal;
 width: 100%;
 vertical-align: top;
 text-align: center;
}

.m-theme-box
{
 background-color: #dddddd;
 border: 1px #CCCCCC solid;
}

.m-theme-box .title
{
 color: #000000;
 font-weight: bold;
 font-size: 11px;
 text-decoration: none;
 height: 15px;
 display: block;
}

/*** Tan hack for IE ***/
* html .m-theme-box .title
{
 margin-right: -3px;
}

.m-theme-box .content
{
 background-color: #ffffff;
 font-size: 11px;
 font-weight: normal;
 margin: 1px;
 padding: 5px;
}

/******************************************************************************
 * ThemeTable
 ******************************************************************************/

.themeTableTitle
{
}

.themeTableBody
{
 background-color: #ffffff;
}

.themeTable
{ 
 color: #000000;
 font-weight: normal;
 font-size: 11px;
 text-decoration: none
}

.themeTableRow
{
}

.themeTableCell
{
}
