/******************************************************************************
 * KENOBI - theme.css
 ******************************************************************************/

/******************************************************************************
 * DHTMLMenu
 ******************************************************************************/
/* --- menu styles ---
note:
	not all browsers render styles the same way so try out your style sheet
	on different browsers before publishing;
*/
/* level 0 inner */
.m0l0iout {
	color:           #000000;
	font-weight:     normal;
	font-size:       10px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
    background-color: #CCC;
	font-weight:   bold;
}
.m0l0iover {
	color:           #000000;
	font-weight:     normal;
	font-size:       10px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
    background-color: #CCC;
	font-weight:   bold;
}
.m0l0idown {
	color:           #000000;
	font-weight:     normal;
	font-size:       10px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
    background-color: #CCC;
	font-weight:   bold;
}

/* level 0 outer */
.m0l0oout {
	color:           #000000;
	font-weight:     normal;
	font-size:       10px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
    background-color: #CCC;
}
.m0l0oover {
	color:           #000000;
	font-weight:     normal;
	font-size:       10px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
    background-color: #CCC;
	border-bottom:    1px solid #808080;
	border-right:    1px solid #808080;
	border-top:    1px solid #FFFFFF;
	border-left:    1px solid #FFFFFF;
}
.m0l0odown {
	color:           #000000;
	font-weight:     normal;
	font-size:       10px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0px;
    background-color: #CCC;
	border-bottom:    1px solid #FFFFFF;
	border-right:    1px solid #FFFFFF;
	border-top:    1px solid #808080;
	border-left:    1px solid #808080;
}

/* level 1 inner */
.m0l1iout {
	color:           #000000;
	font-weight:     normal;
	font-size:       9px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
    background-color: #CCC;
}
.m0l1iover {
	color:           #000000;
	font-weight:     bold;
	font-size:       9px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
    background-color: #CCC;
}

/* level 1 outer */
.m0l1oout {
	color:           #000000;
	font-weight:     normal;
	font-size:       9px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
    background-color: #CCC;
	border-bottom:    1px solid #FFFFFF;
	border-right:    1px solid #FFFFFF;
	border-top:    1px solid #808080;
	border-left:    1px solid #808080;
}
.m0l1oover {
	color:           #000000;
	font-weight:     normal;
	font-size:       9px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
    background-color: #CCC;
	border-bottom:    1px solid #808080;
	border-right:    1px solid #808080;
	border-top:    1px solid #FFFFFF;
	border-left:    1px solid #FFFFFF;
}

/* level 2 inner */
.m0l2iover {
	color:           #000000;
	font-weight:     normal;
	font-size:       9px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
    background-color: #CCC;
}

/* level 2 outer */
.m0l2oout {
	color:           #000000;
	font-weight:     normal;
	font-size:       9px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
    background-color: #CCC;
	border-top:    1px solid #FFFFFF;
	border-left:    1px solid #FFFFFF;
	border-bottom:    1px solid #808080;
	border-right:    1px solid #808080;
}
.m0l2oover {
	color:           #000000;
	font-weight:     normal;
	font-size:       9px;
	text-decoration: none;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
    background-color: #CCC;
	border-bottom:    1px solid #FFFFFF;
	border-right:    1px solid #FFFFFF;
	border-top:    1px solid #808080;
	border-left:    1px solid #808080;
}

/**********************************
SERTAOGGI
***********************************/

/**********************************
SERTAOGGI - MAIN MENU (PARÂMETROS ESPECIAIS)
***********************************/
/*
	widht, height: tamanho dos itens
	block_top, block_left: deslocamento do bloco de menu com relação à origem
	top, left: deslocamento entre itens de um mesmo nível
*/
/* &&&
0;width:120;height:16;top:0;left:5;hide_delay:200;expd_delay:-200
1;width:150;height:20;top:20;left:0;block_top:15;block_left:0;hide_delay:100;expd_delay:100
2;block_top:5;block_left:140;hide_delay:100;expd_delay:100
&&& */
